PYTHON_ENV=development
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
COHERE_API_KEY="your_cohere_key" #use cohere for testing purpose
OPENROUTER_API_KEY="your_open_router_key" # use open router for production level analysis
JWT_SECRET_KEY= 91a05c5e24fb06f8818b4e589c794fcfa91e28078517b6120aa588b32ee2ca22 #use this key as it is it's an non-confidential public key